
	<!--banner-starts-->
    {% extends 'worker_Header_Footer.html' %}
    {% block alert_link %}
    {% load static %}
    <div class="banner-1">
            
        </div>
        <!--banner-end-->
    <!--contact-->
        <center><div class="Registeration">
            <br><br><br>
    <a href="/addvaccination/"  ><input type="button" value="Add Vaccination Details"></a>
    <a href="/addfood/" ><input type="button" value="Add Food Details"></a>
    <br><br>
    <a href="/viewvaccination/"  ><input type="button" value="View Vaccination Details"></a>
    <a href="/viewfood/" ><input type="button" value="View Food Details"></a>
    </div>
    <br><br><br>
    {% endblock %}