
	<!--banner-starts-->
    {% extends 'worker_Header_Footer.html' %}
    {% block health_link %}
    {% load static %}
    <div class="banner-1">
            
        </div>
        <!--banner-end-->
    <!--contact-->
        <center><div class="Registeration">
            <br><br><br>
    <a href="/addhealthtips/"  ><input type="button" value="Add health tips "></a>
    <!-- <a href="/adddisease/" ><input type="button" value="Add Disease Queries"></a> -->
    <br><br>
    <a href="/viewhealthtips/"  ><input type="button" value="View health tips"></a>
    <!-- <a href="/viewdisease/" ><input type="button" value="View Disease Queries"></a> -->
    </div>
    <br><br><br>
    {% endblock %}