
	<!--banner-starts-->
    {% extends 'Header_Footer.html' %}
    {% block viewlink %}
    {% load static %}
    <div class="banner-1">
            
        </div>
        <!--banner-end-->
    <!--contact-->
        <center><div class="Registeration">
            <br><br><br>
    <a href="/view_vacc/"  ><input type="button" value="View Vaccinations"></a>&nbsp;&nbsp;
    <a href="/view_food/" ><input type="button" value="View Food Details"></a>&nbsp;&nbsp;
    <a href="/view_disease/" ><input type="button" value="View Disease Details"></a>&nbsp;&nbsp;
    <a href="/view_health/" ><input type="button" value="View Health Tips"></a>
    </div>
    <br><br><br>
    {% endblock %}