<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends 'Header_Footer.html' %}
{% block panchayathlink %}
{% load static %}
	<!--script-for-menu-->
	<!--banner-starts-->
	<div class="banner-1">
		
	</div>
	<!--banner-end-->
<!--contact-->
	<center><div class="Registeration">
		<br><br><br>
<a href="/panchayathreg/"  ><input type="button" value="Panchayath Registration"></a>
<a href="/viewpanchayath/" ><input type="button" value="View panchayath"></a>
</div>
</center>
<br><br><br>
{% endblock %}